{% extends "base.html" %}

{% load i18n widget_tweaks crispy_forms_tags %}

{% block title %} {% trans "dashboard" %} {% endblock %} {% block content %}
<div class="container">
    <!-- <h1>Dashboard</h1> -->

    <h1 class="row justify-content-left loader">
        {% trans "لوحة التحكم" %}
    </h1>

    {% if request.user.profile.who_are_you  %}


    <div class="row mt-3 mb-5 p-3">
        <aside class="aside_db col-sm-12 col-md-6 col-lg-3 change-color">
            <a href="{% url 'password_change' %}" class="btn btn-color btn-block">
                <span class="row justify-content-center btn-loader">
                    {% trans "تغيير كلمة السر"%}
                </span>
            </a>
            {% if request.user.profile.who_are_you == '1' %}
            <a href="{% url 'app_media_act' request.user.id %}" class="btn btn-color btn-block">
                <span class="row justify-content-center btn-loader">
                    {% trans "طلب دعم لفرد إعلامي"%}
                </span>
            </a>
            {% elif request.user.profile.who_are_you == '2' %}
            <a href="" class="btn btn-color btn-block">
                <span class="row justify-content-center btn-loader">
                    {% trans "طلب دعم لناشط حقوقي"%}
                </span>
            </a>
            {% elif request.user.profile.who_are_you == '3' %}
            <a href="" class="btn btn-color btn-block">
                <span class="row justify-content-center btn-loader">
                    {% trans "طلب دعم للمؤسسة إعلامية"%}
                </span>
            </a>
            {% endif %}
            {# {% url 'formula:register_form' %} #}

        </aside>
        <article class="col-sm-12 col-md-6 col-lg-9">
            <h2 class="h2-margin">{% trans "إهلاً بك في البيت الصحفي" %}</h2>

            {% if LANGUAGE_CODE == "ar" %}
            <p class="text-justify">
                واتخذ المركز السوري للإعلام وحرية التعبير دعم وتنمية إعلام مستقل ومهني ونقدي كأحد المهام الأساسية له منذ
                نشأته في عام 2004، وكان أحد أول المشاريع التي أقامها المركز بهدف دعم الصحفيين والمؤسسات الصحفية في عدة
                نواحي ضمن رؤية المركز لدعم الحريات والمدافعين عن حقوق الإنسان.
                مع بدء الحراك في سوريا عام 2011 تطورت سياقات ومفاهيم جديدة للعمل الصحفي، و تفاقمت ظروف تقييد حريات العمل
                الصحفي، وازدادت احتياجات الصحفيين والصحفيات في سوريا لكي يستطيعوا الاستمرار في عملهم في نقل الحقيقة،
                وازدادت الحاجة لدعم العاملين في الإعلام كمؤسسات وأفراد، واستجاب المركز السوري للإعلام وحرية التعبير
                بتعزيز عمله في دعم العاملين والعاملات في قطاع الإعلام حتى عام 2017 ليؤسس برنامج البيت الصحفي كبلورة لعمل
                طويل في دعم الصحفيين والصحفيات بشكل مؤسسي ومنظم مراعياً التوازن الجندري كعامل أساسي في تخطيط مشاريعه.
                يشمل برنامج البيت الصحفي العمل على محورين أساسيين: المحور الأول: دعم العاملين والعاملات في المجال
                الإعلامي وتمكينهم من رفع قدرتهم على الصمود في بيئة وظروف العمل الصعبة التي يتواجدون فيها ويساهم هذا
                الدعم في ست نواحي رئيسية هي الدعم القانوني، الطبي، التقني، الأمان الرقمي، الحماية، والدعم المعيشي بينما
                يعمل المحور الثاني على الضغط عبر حملات المناصرة والدراسات والتقارير لمراجعة القوانين والتشريعات والعمل
                مع الشركاء الدوليين لتسليط الضوء على بيئة العمل الصحفي في سوريا من أجل قوانين أفضل لصالح حماية الصحفيين
                والصحفيات ومحاربة الإفلات من العقاب.
            </p>

            {% else %}

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
                sapiente odit, eius perferendis dolorum, amet commodi consequatur,
                voluptate fugit nulla molestias voluptatibus quisquam? Quam perferendis
                odio doloremque, tempora omnis aliquid.
            </p>
            {% endif %}
        </article>
    </div>
    {% else %}
    <p>You have to complate your profile</p>
    <a href="{% url 'update_profile' request.user.id %}" class="btn btn-primary"> {% trans 'ملفي الشخصي' %} </a>
    {% endif %}
</div>
{% endblock %}