{% extends 'base.html' %}
{% load i18n static %}


{% block title %} {% trans "FAQ"%} {% endblock %}

{% block content %}

<h1 class="text-center h_faq"> {% trans 'الأسئلة الشائعة:' %} </h1>


<div class="group_1">
    <h2 class="pb-2"> {% trans 'أولا: وفق الدعم وآلية المعالجة:' %} </h2>

    <div class="block">
        <h3> {% trans '1- ما هي الخدمات التي يقدمها قسم الدعم في برنامج "البيت الصحفي" للصحفيين؟' %} </h3>

        <p class="reponse">
            يعمل قسم الدعم في "البيت الصحفي" على مساندة ودعم الاعلاميين/ات السوريين/ات، الناشطين/ات الإعلاميين/ات
            ونشطاء/ناشطات
            حقوق الإنسان، وذلك عبر مظلة دعم تشمل: الدعم القانوني والاستشارة القانونية- الطبي- المعيشي- الانتقال الآمن-
            دعم
            ملف
            اللجوء- الدعم التقني- دعم البطاقات الصحفية- المناصرة- إيجاد فرصة عمل.
        </p>
    </div>


    <div class="block">
        <h3> {% trans '2- هل المركز يقدم الدعم المباشر لطالب الدعم؟' %} </h3>

        <p class="reponse">
            يقوم عمل قسم الدعم بعد تلقي طلب الدعم، على التواصل مع صاحب/ة الطلب وإعداد ملف الحالة ومشاركتها بحسب نوع
            الطلب
            المطلوب مع
            المنظمات الدوليّة الشريكة التي تعنى بقضايا الصحفيين/ات ودعم حريّة التعبير، مع مراعاة التوازن الجندري
            والتوازن في
            نسب
            الاستفادة نظراً لمحدودية الموارد من جهة، ولكون المنظمات الدولية تعمل في العديد من دول العالم التي يعاني فيها
            الصحفيون/ات
            من أوضاع شديدة الخطورة مثل المكسيك ومناطق الصراع المختلفة.
            بحيث نكون نقطة اتصال بين صاحب الطلب والمنظمات من أجل تلبية احتياجات العاملين/ات في الشأن السوري من
            الإعلاميين/ات
            والنشطاء، لكننا لسنا أصحاب القرار النهائي.
            في بعض الحالات يمكن أن يكون الدعم مباشر من قبل المركز مثل تقديم رسائل التوصية لدعم طلب الانتقال الآمن، أو
            عند
            ادارة
            صندوق دعم طارئ، أو خدمات الأمان الرقمي.
        </p>
    </div>

    <div class="block">
        <h3>3- ما هي الآلية التي يتم العمل من خلالها لمعالجة الطلب؟</h3>
        <p class="reponse">
            يتم أولا فحص الطلب، ومراجعة روابط العمل الصحفي المرسلة، والوثائق الداعمة، ونوع الدعم المطلوب وأسبابه.
            بالإضافة
            إلى
            مراجعة بيانات المعرفين، وان كان هناك أية أسئلة بحاجة الى استكمال يتم التوجه الى مُقدّم الطلب بها عبر البريد
            الإلكتروني،
            ومن ثم يتم التواصل مع المعرفين، والتحقق عبر نقاط التواصل، ثمّ يتم ترتيب هذه المعلومات ومشاركتها مع المنظمات
            الدولية
            الداعمة.
        </p>
    </div>


    <div class="block">
        <h3>{% trans '4- ما هي الفترة الزمنية التي يحتاجها الملف في المعالجة؟' %}</h3>

        <p class="reponse">
            لا يمكن تحديد فترة زمنية محددة لأننا نعالج مئات الطلبات، وهناك عدة عوامل تتحكم في الفترة الزمنية التي
            يحتاجها
            الملف
            مثل:
            درجة الطوارئ، خصوصية كل حالة مثل الحالات التي لديها وضع طبي مثلا، امكانيات كل منظمة داعمة ومعاييرها ومدى
            سرعة
            استجابتها،
            إذ أنّ المؤسسات الدولية بدورها تعالج مئات الحالات ضمن أطر فرق عمل صغيرة العدد غالباً.
        </p>
    </div>


    <div class="block">
        <h3> {% trans '5- ما هي المعايير التي يتم مراعاتها عند معالجة الطلبات؟' %} </h3>

        <h4> {% trans "المعايير الأساسية:" %} </h4>

        <ol>
            <li>أن يكون/تكون مُقدّم/ة الطلب من العاملين في الحقل الإعلامي وليس لديهم انخراط مباشر في الأعمال
                العدائيّة.</li>
            <li>أن يكون سبب الطلب مرتبط بشكل مباشر بالعمل الإعلامي.</li>
            <li>أن يكون خطابه/خطابها متوازن يحترم الشرعة الدولية لحقوق الإنسان.</li>
        </ol>

        <h4>المعايير الإضافية:</h4>

        <ol>
            <li>
                أن يكون لديه/لديها محتوى إعلامي منشور في وسائل إعلامية (صحف إلكترونية أو مطبوعة – تلفزيون- راديو –
                وكالات
                أنباء).
            </li>
            <li>
                أن يكون/تكون قد نشر/ت محتوى إعلامي بصورة متواصلة لمدة عام على الأقل.
            </li>
            <li>
                أن يكون العمل الإعلامي هو مصدر دخل له/لها.
            </li>
            <li>
                إذا كان ناشطاً/ة إعلامياً/ة أو مواطناً/ة صحفياً/ة يعمل/تعمل في صفحات التواصل الاجتماعي يجب أن يكون ما
                ينشره/تنشره من
                محتوى هو مصدراً للمعلومات بالنسبة لوسائل الإعلام.
            </li>
            <li>
                أن يكون خطابه/خطابها متوازن يحترم الشرعة الدولية لحقوق الإنسان.
            </li>
            <li>
                أن يكون خطابه/خطابها يراعي الخصوصية في نشر الصور والأخبار ويحترم حقوق الملكية.
            </li>
        </ol>

        <h4>لا يقع ضمن الشريحة المستهدفة:</h4>
        <ol>
            <li> مقدم/ة الطلب المنقطع عن العمل الإعلامي لمدة تزيد عن عام من تاريخ تقديم الطلب.</li>
            <li> مقدم/ة الذي/التي عملت في الإعلام لصالح مؤسسات أو منظمات أو جهات عملها الأساسي غير إعلامي.</li>
            <li> أن لا يكون قد حصل/ت على دعم لنفس الطلب من منظمة أخرى خلال مدة سنة من تاريخ تقديم الطلب.</li>
        </ol>
    </div>


    <div class="block">
        <h3>6- هل يتم التنسيق مع منظمات دولية أخرى؟</h3>

        <p class="reponse">
            نعم المركز يتعاون مع عدة منظمات دولية تعمل على دعم الاعلاميين والاعلاميات حول العالم ويتم التنسيق لمنع
            الوقوع في
            الازدواجية.
        </p>
    </div>

    <div class="block">
        <h3>7- هل رفض الطلب يعني عدم مطابقة وضعي الحالي للمعايير المتبعة؟</h3>

        <p class="reponse">
            ليس بالضرورة لأن هناك العديد من الطلبات لا يتم الاستجابة لها بسبب ضعف إمكانيات الجهات الداعمة.
        </p>
    </div>

</div>


<div class="group_2">
    <h2>ثانيا: الأسئلة المرتبطة بمقدم الطلب:</h2>

    <div class="block">
        <h3>1- تقديم الطلب والمعلومات هل يعني أن الطلب تمت الموافقة عليه من قبلكم؟</h3>

        <p class="reponse">
            المعلومات التي يقدمها مقدم الطلب سواء خلال تقديم الطلب أو لاحقا في المراسلات تقع ضمن إطار تقييم الاستجابة
            ولا
            يترتب
            عليها أي التزامات ولا تعني الموافقة على الطلب.
        </p>
    </div>

    <div class="block">
        <h3>2- هل يمكن الحصول على دعم مستمر؟</h3>

        <p class="reponse">
            هدف الدعم هو مساندة الإعلاميين/ات السوريين/ات عند وجود وضع طارئ مرتبط بالعمل الصحفي ويستدعي التدخل العاجل
            لضمان
            قدرة
            الإعلامي/ة على الاستمرار في عمله الصحفي.
        </p>
    </div>

    <div class="block">
        <h3>3- هل تقديم معلومات خاطئة في الطلب يمكن أن يلغي الطلب؟</h3>

        <p class="reponse">
            نعم عدم تقديم معلومات صحيحة في الطلب يؤدي الى رفضه، خاصة إذا كانت مرتبطة بالاسم، جهة العمل، أو إخفاء عمدي
            لمشاركة
            مباشرة
            في الأعمال العدائيّة أثناء العمل الصحفي، او مكان الاقامة.
        </p>
    </div>



    <div class="block">
        <h3>4- هل أنا مخول للحصول على دعم في حال كنت قد حصلت على دعم سابق؟</h3>
        <p class="reponse">
            الأمر يتوقف على نوع الدعم وسبب الطلب وإمكانيات المنظمات الداعمة، مثال الحالات الطبية ربما هناك حاجة لمراحل
            متعددة من
            العلاج، أمّا في حالة الدعم المعيشي فمن الصعوبة بمكان بسبب محدودية الدعم والارتفاع الكبير في حجم الاحتياجات
            الإنسانيّة من
            جهة ثانية.
        </p>
    </div>

    <div class="block">
        <h3>
            5- هل المعلومات التي أقدمها تبقى سرية؟
        </h3>

        <p class="reponse">
            نعم المركز ملتزم بالحفاظ على سرية المعلومات بحيث لا يتم مشاركة هذه المعلومات مع اية جهة إلا لأغراض الدعم
            نفسه
            حيث
            يمكن
            مشاركة الحالة مع منظمات أخرى لغرض تأمين الدعم المساندة.
        </p>
    </div>

    <div class="block">
        <h3>6- هل يمكن أن أقدم الطلب بالنيابة عن شخص آخر؟</h3>

        <p class="reponse">
            لا، حيث لا يتم قبول طلب تم تقديمه عن شخص آخر بالنيابة.
        </p>
    </div>

    <div class="block">
        <h3>7- هل يمكن مساعدتي في الحصول على منح دراسية أو السفر للالتحاق بمنحة دراسية؟</h3>

        <p class="reponse">
            لﻹسف في الوقت الحالي لا يقع ضمن مظلة الدعم قضايا المنح الدراسية.
        </p>
    </div>

</div>

<div class="mess row group_3">
    <div class="col-12">
        <h2 class="text-center">رسالة النهاية</h2>
    </div>
    <div class="col-12">
        <p class="text-center">شكرا لك على ثقتك، سنعمل على مراجعة الطلب والعودة إليك في أقرب وقت ممكن.</p>
    </div>


</div>



<!-- 
<p>= == =</p>

يحتاج المبرمج خليل للترجمة لمجموعة من المفردات المستخدمة والتي تخص المركز و الترجمة هي الى اللغة الانجليزية.

- سيقوم المبرمج خليل بإعداد article no.1 ولكن ستحتاج الى ملاحظات للتعديل من قبل فريق المركز.

- يحتاج المبرمج من الفريق صيغة معينة للجملة المستخدمة بعد حصول المدخل على ايميل التأكيد بعد الانتهاء من تعبئة النموذج.
 -->








{% endblock %}