{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Password reset"%} {% endblock %}
{% block content %}


<div class="container text-center">
    <h1 class="row text-uppercase justify-content-center loader">
        {% trans "Password reset"%}
    </h1>

    <div class="alert alert-success">
        <p>{% trans "Your password has been set."%}</p>
    </div>


    <a href="{% url "login" %}" class="btn btn-color btn-block">
        {% trans "log in now"%}
        <span class="row justify-content-center btn-loader">
            {% trans "log in now"%}
        </span>
    </a>


</div>






{% endblock %}