{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "إعادة تعيين كلمة المرور" %} {% endblock %}
{% block content %}

<div class="container">

    <h1 class="row text-uppercase justify-content-center loader">
        {% trans "هل نسيت كلمة المرور ؟" %}
    </h1>

    <form action="." method="post" class="form-signin form_login_account change-color">
        <!-- Enter your e-mail address to obtain a new password. -->
        <p>{% trans "رجاءً, أدخل بريدك الالكتروني لتتمكن من إعادة تعيين كلمة المرور" %}</p>
        <hr>
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
        </div>


        <div class="form-group">
            <input type="hidden" name="next" value="{{ next }}" />
            <button class="btn btn-color btn-block" type="submit">
                <span class="row justify-content-center  btn-loader">
                    {% trans "أرسل" %}
                </span>
            </button>
        </div>

        <!-- <p><input type="submit" value="Send e-mail"></p> -->

    </form>

</div>

{% endblock %}