{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Change you password"%} {% endblock %}
{% block content %}
<div class="container">
    <h1 class="row text-uppercase justify-content-center loader">
        {% trans "Change you password"%}
    </h1>



    <form action="." method="post" class="form-signin form_login_account change-color">
        <h3>{% trans "Use the form below to change your password."%}</h3>
        <hr>
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-group">
            <input type="hidden" name="next" value="{{ next }}" />
            <button class="btn btn-color btn-block" type="submit">
                <span class="row w-20 pl-3 pr-3 justify-content-center  btn-loader">
                    {% trans "change"%}
                </span>
            </button>
        </div>

        <!-- <p><input type="submit" value="Change"></p> -->

    </form>
</div>

{% endblock %}