{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "إعادة تعيين كلمة المرور" %} {% endblock %}
{% block content %}

<div class="container">


    <h1 class="row text-uppercase justify-content-left loader mb-5">
        {% trans "إعادة تعيين كلمة المرور" %}
    </h1>

    {% if validlink %}

    <div>
        <form action="." method="post" class="form-signin registration-form form_login_account change-color mt-5">
            <!-- Please enter your new password twice: -->
            <p>{% trans "رجاءً أدخل كلمة المرور الجديدة مرتين "%}</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-color btn-block">
                <span class="row justify-content-center btn-loader">
                    {% trans "إعادة تعيين كلمة المرور الجديدة" %}
                </span>
            </button>

            <!-- <input type="submit" value="Change my password" /> -->
        </form>
    </div>


    {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
    </p>
    {% endif %}


</div>

{% endblock %}