{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "إعادة تعيين كلمة المرور"%}{% endblock %}
{% block content %}

<div class="container text-center">
    <h1 class="row text-uppercase justify-content-left loader">
        {% trans "إعادة تعيين كلمة المرور"%}

    </h1>
    <!-- We've emailed you instructions for setting your password. -->
    <p>{% trans "لقد ارسلنا لك بريد الكتروني يتضمن رابط لإعادة تعيين كلمة المرور" %}</p>

    <!-- If you don't receive an email, please make sure you've entered the address you registered with. -->
    <p>{% trans "إذا لم تستلم بريدا بخصوص  إعادة تعيين كلمة المرور , تأكد من إدخال نفس اﻹيميل الذي سجلت به أول مره"%}
    </p>

</div>

{% endblock %}