{% extends "base.html" %} {% load i18n widget_tweaks crispy_forms_tags %}
{% block title %} {% trans "طلب دعم للأفراد اﻹعلاميين" %} {% endblock %}
{% block content %}

<div class="container">
    <div class="card rounded mt-5 px-5 pt-5 pb-5">
        <h1 class="mb-4 pt-0"> {% trans 'نموذج طلب دعم للأفراد اﻹعلاميين' %} </h1>


        <form action="" method="post" class="form-profile mw-80 registration-form change-color px-5 pt-5 pb-5"
            enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>





                {{ registerForm.media }}
                <div class="card card-form rounded p-4 mt-4 mb-4 medical-info">
                    <button class="btn btn-info w-25 mb-4" type="button" data-toggle="collapse"
                        data-target="#collapseMedicalInfo" aria-expanded="false" aria-controls="collapseMedicalInfo">
                        {% trans 'المعلومات الطبية' %}
                    </button>
                    <div class="collapse" id="collapseMedicalInfo">
                        <div class="form-group">
                            {{ registerForm.medical_state_q|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.medical_state_des|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <!-- ///////// FAMILY STATUS ////// -->
                <div class="card card-form rounded p-4 mt-4 mb-4 family-status">
                    <button class="btn btn-info w-25 mb-4" type="button" data-toggle="collapse"
                        data-target="#collapseFamilyStatus" aria-expanded="false" aria-controls="collapseFamilyStatus">
                        {% trans 'الوضع العائلي' %}
                    </button>
                    <div class="collapse" id="collapseFamilyStatus">
                        <div class="form-group">
                            {{ registerForm.family_state|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.have_kids|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.number_kids|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.summary_family|as_crispy_field }}
                        </div>
                    </div>

                </div>

                <!-- ///////// WORK STATUS ////// -->
                <div class="card card-form rounded p-4 mt-4 mb-4 work-status">
                    <button class="btn btn-info w-25 mb-4" type="button" data-toggle="collapse"
                        data-target="#collapseWorkStatus" aria-expanded="false" aria-controls="collapseWorkStatus">
                        {% trans 'معلومات العمل' %}
                    </button>
                    <div class="collapse" id="collapseWorkStatus">
                        <div class="form-group">
                            {{ registerForm.education_level|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.job|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.experience|as_crispy_field }}
                        </div>

                        <!-- INLINE FORM EXPERIENCE -->
                        <div class="form-exper mb-5 pb-3 card bg-light col-8">
                            <h2 class="mb-0">أضافة خبرات عمل سابقة </h2>
                            <hr>

                            {{ expForm.media }}
                            <!-- {{ expForm|crispy }} -->


                            {{ expForm.management_form|crispy }}
                            <div id="form_set_ex">
                                {% for form in expForm %}
                                {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                                {% endfor %}
                                {{form.non_field_errors}}
                                {{form.errors}}
                                <table class='no_error'>
                                </table>
                                {% endfor %}
                            </div>

                            <input type="button" value="{% trans 'إضافة خبرة عمل' %}" class="btn btn-info"
                                id="add_more_ex">

                            <div id="empty_form_ex" style="display:none">
                                <table class='no_error'>
                                    <div class="form-group px-2 mt-2 mb-2 pt-2 pb-2">
                                        {{ expForm.empty_form|crispy }}
                                    </div>
                                </table>
                            </div>

                        </div>

                        <div class="form-group">
                            {{ registerForm.org_memeber|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.details|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <!-- ///////// SUMMARY EXPLIC SITUATIONS ////// -->
                <div class="card card-form rounded p-4 mt-4 mb-4 summary-exp-sit">
                    <button class="btn btn-info w-25 mb-4" type="button" data-toggle="collapse"
                        data-target="#collapseSummaryExSt" aria-expanded="false" aria-controls="collapseSummaryExSt">
                        {% trans 'ملخص يشرح حالتك وروابط من عملك' %}
                    </button>
                    <div class="collapse" id="collapseSummaryExSt">
                        <div class="form-group">
                            {{ registerForm.if_article_linke|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.articls_link_1|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.if_stop_work|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.date_stop_work|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.resource_prof|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.recmond_1|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.phon_1|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.email_1|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.recmond_2|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.phon_2|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.email_2|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.training_media|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.details_traning_media|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.summary_of_your_state|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <!-- ///////// VIOLATIONS ////// -->
                <div class="card card-form rounded p-4 mt-4 mb-4 violation">
                    <button class="btn btn-info w-25 mb-4" type="button" data-toggle="collapse"
                        data-target="#collapseViola" aria-expanded="false" aria-controls="collapseViola">
                        {% trans 'الانتهاكات' %}
                    </button>
                    <div class="collapse" id="collapseViola">
                        <div class="form-group">
                            {{ registerForm.violations|as_crispy_field }}
                        </div>


                        <!-- INLINE FORM VIOLATIONS -->
                        <div class="form-vio mb-2 pb-2 card bg-light col-8">
                            <h2 class="mb-0">أضافة إنتهاك </h2>
                            <hr>

                            {{ vioForm.media }}
                            <!-- {{ vioForm|crispy }} -->


                            {{ vioForm.management_form|crispy }}
                            <div id="form_set_vio">
                                {% for form in vioForm %}
                                {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                                {% endfor %}
                                {{form.non_field_errors}}
                                {{form.errors}}
                                <table class='no_error'>
                                </table>
                                {% endfor %}
                            </div>

                            <input type="button" value="{% trans 'إضافة إنتهاك' %}" class="btn btn-info"
                                id="add_more_vio">

                            <div id="empty_form_vio" style="display:none">
                                <table class='no_error'>
                                    <div class="form-group px-2 mt-2 mb-2 pt-2 pb-2">
                                        {{ vioForm.empty_form|crispy }}
                                    </div>
                                </table>
                            </div>

                        </div>



                        <div class="form-group">
                            {{ registerForm.relation_with_org|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.summary_of_relations|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <!-- ///////// AUTRE INFORMATIONS ////// -->
                <div class="card card-form rounded p-4 mt-4 mb-4 autre-info">
                    <button class="btn btn-info w-25 mb-4" type="button" data-toggle="collapse"
                        data-target="#collapseAutrStat" aria-expanded="false" aria-controls="collapseAutrStat">
                        {% trans 'أسئلة تحت طائلة المسؤولية' %}
                    </button>
                    <div class="collapse" id="collapseAutrStat">
                        <div class="form-group">
                            {{ registerForm.other_org_demand|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.name_org|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.date_of_demand_org|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.type_of_demand_other_org|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.result_of_demand_other_org|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.know_support_programme|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <!-- ///////// TYPE OF SUPPORT ////// -->
                <div class="card card-form rounded p-4 mt-4 mb-4 type-of-support">
                    <button class="btn btn-info w-25 mb-4" type="button" data-toggle="collapse"
                        data-target="#collapseTypeSupport" aria-expanded="false" aria-controls="collapseTypeSupport">
                        {% trans 'نوع الدعم' %}
                    </button>
                    <div class="collapse" id="collapseTypeSupport">
                        <div class="form-group">
                            {{ registerForm.type_of_dmande|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.resaon_for_help|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.list_of_tools|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.last_job_salary|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.reason_stopping_job|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ registerForm.summary_of_help|as_crispy_field }}
                        </div>
                    </div>
                </div>






                <div class="form-group">
                    <input type="submit" value="{% trans 'تقديم الطلب' %}" class="btn btn-success mt-4">
                </div>




            </fieldset>

        </form>


    </div>
</div>

{% endblock %}