div.breadcrumbs {
  font-size: 16px !important;
}

.form-row .inline-group {
  margin-top: 30px;
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.2rem !important;
}

h3 {
  font-size: 1rem !important;
}

/* form label {
  font-size: 1rem !important;
} */

form input {
  font-size: 1rem !important;
}

form span {
  font-size: 0.75rem !important;
}

p.deletelink-box {
  font-size: 1rem !important;
}

th {
  font-size: 14px !important;
}

.vTextField,
.vUUIDField {
  /* width: 12em !important; */
}

.dynamic-registration_media_act input {
  width: 12em !important;
}

/* .fieldBox.field-recmond_1::before {
  content: ' مصادر تثبت عملك , مصدرين على الاقل :';
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 1.5em;
} */

/* .field-after {
  z-index: 0;
  position: relative;
}

.field-after::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
} */