@import url(http://fonts.googleapis.com/css?family=Muli);

body {
    margin: 0;
    font-family: helvetica, sans-serif;
    background-color: #eee;
    background-image: url('./../media/Abstract-background-white.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #0872bf;
    padding-top: 7.5vh !important;
    min-height: 100vh !important;

}

.bg-main-color {
    background-color: #1b4b7b;
}

p {
    line-height: 1.8;
}

a {
    /* color:#5740ac; */
    color: #0872bf;
    text-decoration: none;
}

/* a:hover {
    color:#00a74f;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

h1 {
    /* border-bottom:1px solid #bbb; */
    /* padding:55px 0 10px 0; */
    /* margin:10px 0 20px 0; */
    font-size: 4vh !important;
    padding-top: 7vh;
}

h2 {
    margin: 30px 0 20px;
}

ol {
    line-height: 1.5;
}

/* #header { */
/* padding:10px 100px;  
    font-size:14px;
    background:#5d55cf;
    color:#fff;
    border-bottom:4px solid #1cdf78;
    overflow:auto; */
/* height: 80px; */
/* background-color: #5d55cf; */
/* background-color: #0872BF; */
/* border-bottom:4px solid #1cdf78; */
/* border-bottom: 4px solid #08B155; */

/* } */

nav,
footer {
    /* background: linear-gradient(228deg, #0872bf, rgba(226, 10, 10, 1) ); */
    /* background-image: linear-gradient( #0872bf, rgba(255, 255, 255, 1 ), #0872bf); */
    /* background-size: 400% 400%; */

    /* -webkit-animation: change_color 5s ease infinite;
    -moz-animation: change_color 5s ease infinite;
    animation: change_color 5s ease infinite; */
    /* background-image: linear-gradient( #065b99, #0a8eef); */
    /* background-image: linear-gradient( #1b4b7b, #9db5df); */
    background-color: #1b4b7b;

}

.nav-link {
    /* transition: all 0.5s linear; */
    /* position: relative;
    z-index: 2; */
    /* background: red; */
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;

}

/* 
.nav-link:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(27, 75, 123, 0.7);
    z-index: -1;
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    border-radius: 20px;
    padding-left: 0 !important;
    
} */
.nav-link:hover {
    color: #fff !important;
}

/* .nav-link:hover {
    -webkit-background-clip:text; 
    -webkit-text-fill-color: transparent; 
    
} */

/* .nav-link:hover:after {
    width: 100%;
    
} */

#header .logo {
    font-family: 'Muli', sans-serif;
    /* float:left; */
    color: #f3f7cc;
    font-size: 20px;
    /* margin-right:10%; */


}

#header ul.menu {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

#header ul.menu li {
    float: left;
    padding: 4px 10px;
}

#header ul.menu li.selected a,
#header ul.menu li.selected a:hover {
    color: #1b6d32;
    font-weight: bold;
}

#header a {
    color: #f3f7cc;
}

/* #header a:hover {
    color:#fff;
} */

#header .user {
    float: right;
    padding-top: 4px;
}

/* #content {
    padding:30px 100px;
} */

/* forms */
form {
    overflow: auto;
}

form p {
    width: 100%;
    overflow: auto;
}

label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input,
textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    /* background:#eee; */
    border: 0;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
}

input[type=submit],
a.button {
    font-weight: bold;
    /* background:#441ca1; */
    background-color: #0872bf;
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

.helptext {
    margin: 0 0 20px 0;
    color: #aaa;
    clear: both;
    float: left;
    font-size: 13px;
}

/* messages */
ul.messages {
    margin: 10px 100px;
    padding: 0;
    list-style-type:
        none;
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

ul.messages li.success {
    background: #81ce81;
}

ul.messages li.success a {
    color: #0ac33e;
}

ul.messages li.error {
    background: #a30029;
    color: #e9828e;
}

ul.messages li.error a {
    color: #e9828e;
}

ul.messages li.info {
    background: #faffae;
    color: #696b4e;
}

ul.messages li.info a {
    color: #1586de;
}

ul.messages li.warning {
    background: #de9404;
}

ul.messages li.warning a {
    color: #f49000;
}

ul.messages li a.close {
    margin: 0;
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

/* .login-form {
    float:left;
} */

/* social-auth */
.social {
    float: right;
}

.social li {
    list-style: none;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.social li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}

.social li.facebook {
    background: #3b5399;
}

.social li.twitter {
    background: #00cffa;
}

.social li.google {
    background: #de1710;
}


/* images */

.image-preview,
.image-detail {
    max-width: 300px;
    float: left;
    margin: 0 20px 20px 0;
}

.image-detail {
    margin-top: 20px;
}

.image-info div {
    padding: 20px 0;
    overflow: auto;
}

.count {
    color: #aaa;
    border: 3px solid #bbb;
    border-radius: 26px;
    padding: 10px 20px;
    margin: 20px 10px 0;
}

a.like,
a.follow {
    float: right;
    margin-top: -8px;
}

#image-list {
    overflow: auto;
}

#image-list .image {
    float: left;
    width: 220px;
    height: 300px;
    margin: 0 10px 10px 10px;
    border-top: 8px solid #12c064;
    background: #eee;
}

#image-list img {
    width: 220px;
    height: 220px;
}

#image-list .info {
    padding: 10px;
}

#image-list .info a {
    color: #333;
}

.image-likes div {
    float: left;
    width: auto;
    padding: 10px;
    text-align: center;
}

.image-likes img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* users */
#people-list img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#people-list .user {
    width: 180px;
    float: left;
    overflow: auto;
    padding: 10px;
}

#people-list .info {
    text-align: center;
}

img.user-detail {
    border-radius: 50%;
    float: left;
}

.profile-info {
    float: left;
    overflow: auto;
    margin-right: 20px;
}

.image-container {
    margin-top: 40px;
}

/* actions */
.action {
    clear: both;
    overflow: auto;
}

.action .images {
    float: left;
    margin: 0 10px 10px 0;
}

.action .date {
    font-style: italic;
    color: #ccc;
}

/* ========= Additionnelle  ========= */

.row {
    margin-left: 0;
    margin-right: 0;
}

.change-color {
    /* background: linear-gradient(228deg, rgba(8, 114, 191, 0.7), rgba(226, 10, 10, 0.7)  );
    background-size: 400% 400%;

    -webkit-animation: change_color 5s ease infinite;
    -moz-animation: change_color 5s ease infinite;
    animation: change_color 5s ease infinite; */
    background-color: #ddd;
}

.btn-color {
    /* background: linear-gradient(228deg, rgba(226, 10, 10, 0.7), rgba(8, 114, 191, 0.7)  );
    background-size: 400% 400%; */

    /* -webkit-animation: change_color 5s ease infinite;
    -moz-animation: change_color 5s ease infinite;
    animation: change_color 5s ease infinite; */
    border: 1px solid #1b4b7b;
    background-color: #1b4b7b;
    color: #f3f7cc;
    transition: all 0.5s linear;
}

.inactiveLink {
    pointer-events: none;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    min-width: 315px;
    padding: 30px;
    margin: auto;
    border: 1px solid #1b4b7b;
    border-radius: 10px;
    /* color: #f3f7cc; */
    /* 
    -webkit-box-shadow: 9px 9px 19px -4px rgba(8,177,85,1);
    -moz-box-shadow: 9px 9px 19px -4px rgba(8,177,85,1);
    box-shadow: 9px 9px 19px -4px rgba(8,177,85,1);

    background-color: rgba(8, 114, 191, 0.1); */
}

.form-signin label {
    color: #1b4b7b;
}

.form-profile {
    width: 100%;
    min-width: 315px;
    padding: 30px;
    margin: auto;
    border: 1px solid #1b4b7b;
    border-radius: 10px;
}

.form-profile label {
    color: #1b4b7b;
}


.btn {
    overflow: hidden;
    text-transform: uppercase;
}

.btn:hover {
    color: #f3f7cc;
}

.btn-color:hover .btn-loader span {
    position: relative;
    display: inline-block;
    /* animation: btn-animation 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-play-state: running;     */

}

.btn-color:hover {
    position: relative;
    display: inline-block;
    /* animation: btn-animation 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-play-state: running;     */
    background-color: #fff;
    color: #1b4b7b;
}


hr {
    border-top: 1px solid #8DA5BD;
}

.loader {
    position: relative;
    /* color: #1b4b7b; */
    /* font-weight: 900; */
    /* text-shadow:1px 1px 0px #dc3545; */
    font-size: 5vh !important;
    text-transform: uppercase;
}

.loader span {
    position: relative;
    display: inline-block;
    animation: h1-animation 3s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-play-state: running;
}

.loader:hover span {
    animation-play-state: paused;
}


.aside_db {
    /* border: 2px solid red; */
    border-radius: 10px;
    /* background-color: rgba(8, 114, 191, 0.4); */
    /* background-color:#ddd; */
    padding-top: 13px;
}

.h2-margin {
    margin-top: 10px !important;
}

.alert-danger {
    overflow: hidden;
}

.errorlist {
    list-style: none;
}

.logo-nav {
    width: 50px !important;
    border-radius: 10px;
}

.container-bg {
    /* background-image: url('./../media/bg-container.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    /* height: 100vh; */
    /* background-attachment: fixed; */
    position: relative;
    padding-bottom: 3rem;
}

.container-bg::after {
    content: "";
    display: block;
    background-color: rgba(27, 75, 123, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

/* .container-fluid {
    padding: 0;
} */

.row-index {
    z-index: 2;
}

.bg-darck {
    background-color: #222;
}




.img-article {
    transition: 0.7s all ease-in-out;
    display: flex;
    /* animation-name: img-animation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
    border-radius: 50%;
    position: relative;
    opacity: 0.5;

}


.img-article:hover {
    transform: scale(1.1);
    border-radius: 10%;
    opacity: 1;
}




footer {
    color: blanchedalmond;
}

footer a {
    color: blanchedalmond;
}

footer a:hover {
    text-decoration: none;
    font-weight: 900;
    color: #ddd;
}

.text-co {
    color: #fff;
    /* text-shadow:1px 2px 2px #fff; */
    font-size: 3vh;
}

/* .text-co:hover {
    color: #fff;
} */

/* ======== form application ======== */
.form-fill {
    padding-top: 4vh !important;
    width: 100%;
    /* max-width: 420px;
    min-width: 315px; */
    padding: 30px;
    margin: auto;
    border: 1px solid #1b4b7b;
    border-radius: 10px;
    color: #1b4b7b !important;
    margin-bottom: 3vh;
}

.form-fill label {
    color: #1b4b7b;
    position: relative;
}

.nav-tabs {
    margin-bottom: 3vh;
    padding-bottom: 2vh;
}

.form-fill .asteriskField {
    position: absolute;
    top: -1.3vh;
    color: red;
    padding-left: 16px;
    font-size: 4vh;
}

.registration-form label {
    position: relative;
}

.registration-form .asteriskField {
    color: red;
    padding-left: 16px;
    padding-right: 10px;
    font-size: 4vh;
    position: absolute;
    top: -1.3vh;

}



.hr-nav {
    width: 20vh !important;
}

#hint_id_username {
    padding-top: 20px !important;
    display: block;
}

.form-group {
    /* margin-bottom: 1rem; */
    overflow: hidden;
}




/* :::::::::::::: F A Q :::::::::::: */

.h_faq {
    font-weight: 900;
    font-size: 3rem !important;
    padding-top: 1em;
    margin-top: 1em;
}

.group_1,
.group_2 {
    border: 1px solid #1B4B7B;
    border-radius: 20px;
    padding: 1em;
    margin: 2em auto;
    background-color: #fff;
}

.block {
    /* background-color: #00cffa; */
    border-radius: 20px;
    padding: 2em;
    margin: 1em auto;
    box-shadow: 1px 1px 10px #1B4B7B;
}

.block h4 {
    font-weight: 600;
}

.block h3 {
    margin-bottom: 1em;
}



.group_2 h2,
h3 {
    font-weight: bold;
}

.group_1 h2,
h3 {
    font-weight: bold;
}

.block p {
    font-size: 1.25rem;
}

.block ol li {
    font-size: 1.25rem;
}

.group_3 {
    border: 4mm ridge rgb(27, 75, 123);
    border-radius: 20px;
    padding: 1em;
    margin: 2em auto;
    background-color: #fff;
}

.mess h2 {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 1em;
    border-bottom: 2px dashed rgb(27, 75, 123);
    ;
}

.mess p {
    font-size: 2rem;
}

















/* ========= Les Animations ========= */

@-webkit-keyframes change_color {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes change_color {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes change_color {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}


@keyframes h1-animation {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }

}

@keyframes btn-animation {

    0%,
    40%,
    100% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.5);
    }

}

@keyframes img-animation {
    0% {
        border-radius: 25%;
    }

    50% {
        border-radius: 50%;
    }

    100% {
        border-radius: 25%;
    }

}