{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


<!-- ITS FOR DESABLE THE "USER PERMISSION FROM THE STAFF" -->
{% block extrastyle %}
{% if request.user.is_superuser %}

<style>
    .field-user_permissions {
        display: block;
    }

    .field-is_active,
    .form-row.field-is_staff,
    .form-row.field-is_superuser,
    .form-row.field-groups,
    .form-row.field-password {
        display: block;
    }
</style>

{% else %}
<style>
    .field-user_permissions {
        display: none;
    }

    .field-is_active,
    .form-row.field-is_staff,
    .form-row.field-is_superuser,
    .form-row.field-groups,
    .form-row.field-password {
        display: none;
    }
</style>

{% endif %}
{% endblock %}



{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}